#inputstyle{
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  margin: 8px 0 8px;
  /* background-color: rgba(128, 128, 128, 0.233); */
  
}
#inputstyle:focus{
  color: red;
  
}
/* .inputContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.inputContainer{
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

#submit{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: #1877F2;
  color: white;
  border: none;
  border-radius: 5px;

  
}
.authHeaderText{
  color: #1877F2;
  text-align: center;
}

#link{
  text-decoration: none;
  color: red;
}
::placeholder{
  color: gray;
}




#cnavbar{
  background-color: black !important;
  display: flex;
  justify-content: space-around;
}
#cnavw{
  color: white !important;
}
/* .cnavd{
  color: white !important;
}
#cnavb{
  color: black !important;

} */
.custom-text-color {
  color: #ff00ff; /* Your custom color */
}
.cnavi{
float: right;
}